 .app-container {
     width: 100%;
     min-height: 100vh;
     margin: 0 auto;
     padding-left: rem(20);
     padding-right: rem(20);
     overflow-y: auto;
     position: relative;
     background: linear-gradient(to top, #dd5e89, #f7bb97);
     
    
    }

    .logo {
        height: 30px;
        position: absolute;
        top: 20px;
        left: 22px;
    }

 .card {
     height: rem(190);
     width: rem(160);
     border: 1px solid black;
     border-radius: 15px;
     margin-bottom: 30px;
 }
