.login {

  .logo {
    width: 6rem;
    margin-top: 10px;
}

  .form-input {
    // border-top: 1px solid #00000042;
    padding: 0 20px 10px;
    // border-radius: 43px;
  }

  button {
    width: 100px;
    // height: 55px;
    margin: 10px 0px;
    background: rgba(255, 255, 255, 0);
  }

  

}

.signup-form {
  margin-bottom: 20px;
}

