.user-page {
  a {
    color: black;
  }
  height: 100%;
  padding: 20px 0;
  .logo {
    height: 30px;
    position: absolute;
    top: 20px;
    left: 22px;
  }

  .user-info {
    text-align: center;
  }

  .stats-btn {
    text-align: center;
    margin-top: 44px;
  }

  .play-icons {
    margin-top: 100px;

    * {
      text-align: center;
      margin: 0 10px;
    }

    div .play-icons-text {
      margin-bottom: 20px;
    }
  }

  .logout-btn {
    position: absolute;
    top: 20px;
    right: 22px;
  }
}
